  /*base*/
  .tabcontent{
	  display: none;
  }
  .active{
	color: black !important;
	font-weight: bold;
}
.navbar{
	background-color: teal !important;
}
.nav-item {
	color: white !important;
	cursor: pointer !important;
}
.nav-item:hover {
	color: black !important;
}

.errorlist{
	color: red;
	font-size: 16px;
}
/*customer form*/
.field{
	padding: 0 30px;
}
.row{

	width: 100%; 	
	
  display: flex !important;
  flex-wrap: wrap !important;
}
.card{
	
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px 30px;
}
.description {
	margin: 10px 0 5px 15px;
	color: grey;
	font-size: 25px;	
	font-style: bold;
	font-weight: 900;
}
label{
	color: teal;
	font-weight: 900;
}
.asteriskField{
	color: red;
}

.submit_btn{
	padding: 30px 0 ;
	text-align: center;
}
hr{
	background-color: #0fefff;
	margin: 10px;
	padding: 0;
}

/*Home*/
.search{
		margin: auto;
		width: 60%;
		padding: 10% 0;
		text-align: center;
}



/*customer view*/
#telephone-number{
	margin: auto;
	width: 60%;
	padding: 10px;
	text-align: center;

}
.telephone{
	color: black;
	font-size: 35px;
	font-weight: 800;
}
.table-wrapper{
    width: 100%;
    overflow: auto;
}
